//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Components/modal/coupom
//

._modal {
	&\:login {
		$self: &;

		@include position(fixed, (
      top: 0,
      left: 0,
      right: 0,
      bottom: 0
    ), 1050);
		@include background(black, .5);
		@include height(screen);
		@include width(auto);
		opacity: 0;
		visibility: hidden;
		transform: scale(.9);
		transition: all .1s ease;

		@include flex(center, flex-start);
		@include padding((top: 50));

		&-step {
			&-2 {
				@include margin((top: 40));
			} // 2
		} // step

		&-active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		} // active

		&-content {
			@include background(modal);
			border: rem(1) solid color(light-blue);
			@include position(relative);
			@include radius(4);
		} // content

		&-close {
			@include position(absolute, (
        top: 10,
        right: 10
      ));

			@include size(35);
			@include flex(center, center);
			@include clicable();

			.feather-icon {
				@include text-style((
          size: 24
        ), light-blue);
			} // feather-icon
		} // close

		&-brand {
			@include flex(center);
			@include height(57);

			img {
				@include height(22);
			} // img
		} // brand

		&-title {
			@include text-style((
        size: 25,
        transform: uppercase,
        weight: 400,
        height: 25,
      ), white);

			span,
			strong {
				@include text-style((
          weight: bold
        ), green);
			}
		} // title

		&-inner {
			padding: rem(40);
			max-width: rem(414);
			width: 95vw;
			@include radius(4);
			// @include background(dark-blue);

			@media only screen and (min-width: 420px) {
				width: 80vw;
			}
		} // inner

		&-form {
		} // form

		&-group {
			@include position(relative);

			label {
				@include block();
				@include text-style((
          align: center,
          size: 15
        ), cyan);
			} // label

			input {
				@include background(transparent);
				border: none;
				border-bottom: rem(1) solid color(cyan);
				@include block();
				@include padding(horizontal, 15);
				@include width(space);
				@include height(72);
				@include radius(0);
				@include autocomplete(modal, white);

				@include text-style((
          family: 'Tim Sans',
          size: 24,
          height: 30,
          align: center
        ), white);

				@include placeholder {
					@include text-style((
            family: 'Tim Sans',
            size: 24,
            height: 30,
            align: center
          ), light-blue);
				}
			} // input

			&-validating {
				@include position(relative);

				&:after {
					content: "";
					@include position(absolute, (
            top: 55,
            right: 10
          ));

					border: {
						top: rem(2) solid color(white);
						left: rem(2) solid transparent;
						right: rem(2) solid transparent;
					}
					@include size(12);
					@include radius(20);
					@include animation(rotate .5s infinite ease);
				}
			} // validating
		} // group

		._btn {
			@include size(60, 310);
			@include margin((
        top: 60,
        left: auto,
        right: auto
      ));
		} // btn

		// errors
		[data-is-showing-errors="true"] {
			input,
			select {
				border-bottom-color: color(danger);
			}
		}

		.formulate-input-errors {
			@include position(absolute, (top: 95));
			@include padding(0);
			list-style: none;

			li {
				@include position(relative);
				@include padding((left: 5));
				@include flex();
				@include text-style((
          size: 10,
          weight: 100
        ), danger);

				&:before {
					content: '-';
					@include display(block);
					@include margin((right: 5));
				}
			}
		} // vue formulate
	} // login
} // modal
