//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/Checkout
//

.checkout {
	&\:error {
		@include flex();
		@include direction(column);
		min-height: 100vh;

		&-header {
			@include height(141);
			@include flex(center, center);
		} // header

		&-brand {
			@include height(28);
		}

		&-title {
			@include text-style((
        size: 30,
        height: 40,
        weight: bold,
        align: center,
      ), dark-blue);
		} // title

		&-subtitle {
			@include margin((top: 24, left: auto, right: auto));
      @include width(400);
			@include text-style((
        size: 22,
        height: 34,
        weight: 400,
        align: center,
      ), white);

			strong {
				@include text-style((
          weight: bold
        ));
			}
		} // subtitle

		&-content {
			@include grow(true);
			@include background(tim-blue);
			@include padding((
        top: 50,
        bottom: 130
      ));
		} // content

		&-icon {
      @include circle(60);
      @include background(white);
      @include margin((
        top: 0,
        left: auto,
        right: auto,
        bottom: 15
      ));
			@include flex(center, center);

      .feather-icon {
        @include text-style((
          size: 35,
          weight: 900,
        ), red)
      }
		} // icon

    ._btn {
      @include margin((
        top: 56,
        left: auto,
        right: auto
      ));
      @include size(60, 310);
    }
	} // error
} // checkout
