//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Components/modal/coupom
//

._modal {
	$self: &;

	@include position(fixed, (
    top: 0,
    left: 0,
    right: 0,
    bottom: 0
  ), 1050);
	@include background(black, .5);
	@include height(screen);
	@include width(auto);
	opacity: 0;
	visibility: hidden;
	transform: scale(.9);
	transition: all .1s ease;

	@include flex(center, flex-start);
	@include padding((top: 50));

	&\:active {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	} // -> active

	&\:content {
		@include background(modal);
		border: rem(1) solid color(light-blue);
		@include position(relative);
		@include radius(4);
	} // -> content

	&\:close {
		@include position(absolute, (
      top: 10,
      right: 10
    ));

		@include size(35);
		@include flex(center, center);
		@include clicable();

		.feather-icon {
			@include text-style((
        size: 24
      ), light-blue);
		} // feather-icon
	} // -> close

	&\:brand {
		@include block();
		@include margin((
      top: 0,
      left: auto,
      right: auto,
      bottom: 35
    ));
		@include height(22);
	} // -> brand

	&\:title {
		@include text-style((
      size: 25,
      transform: uppercase,
      weight: 400,
      height: 25,
    ), white);

		span,
		strong {
			@include text-style((
        weight: bold
      ), green);
		}
	} // -> title

	&\:inner {
		padding: rem(40);
		max-width: rem(414);
		width: 95vw;
		@include radius(4);
		@include background(modal);

		@media only screen and (min-width: 420px) {
			width: 80vw;
		}
	} // -> inner

	&\:button {
		@include flex(center, center);
		@include background(dark-green);
		@include size(60, 280);
		@include margin((
      top: 50,
      left: auto,
      right: auto,
    ));
		@include radius(4);
		border: rem(1) solid color(dark-green);

		@include text-style((
      size: 17,
      weight: 700,
    ), white);
		@include clicable();
	} // button

	.form {
		&\:control {
			background-color: transparent;
			@include text-color(white);
		} // -> control

		&\:label {
			@include text-style((weight: bold));
		} // -> label
	} // -> form

	&\:link {
		@include text-style((
      align: center,
      weight: bold,
      decoration: underline
    ), green);
		@include clicable();
	} // -> link

	&\:copy-to-clipboard {
		@include size(84, auto);
		@include position(relative);
		@include radius(4);
		@include padding(12);

		@include flex(flex-start, flex-end);
		@include background(white);
		@include margin((
      top: 15
    ));

		p {
			@include position(absolute, (
        top: 12,
        left: 14
      ));

			@include text-style((
        size: 11
      ), grey);
		} // -> p

		> span,
		input {
			@include text-style((
        size: 30,
        line-height: 30,
        weight: bold,
        transform: uppercase
      ), light-blue);

			@include width(100%);
			border: none;

			cursor: default;
			touch-action: none;
			pointer-events: none;
		} // -> span

		button {
			@include height(60);
			@include width(60, flex);
			@include margin((left: auto));
			@include background(light-blue);
      border: none;

			@include flex(center, center);
			@include direction(column);
			@include radius(4);

			@include text-color(white);

			.feather-icon {
				@include text-style((
          size: 20
        ));
			} // feather-icon
		} // -> button
	} // -> copy-to-clipboard
} // -> modal
