//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Layout/vertical
//

.layout {
  &\:category {
    $self: &;

    @include padding((bottom: 30));

    &-header {
      @include height(76);
      @include padding(horizontal, 20);
      @include flex(space-between, center);
    } // header

    &-close {
      @include flex(center, center);
      @include circle(46);
      border: rem(2) solid transparent;

      @include text-style((
        size: 20
      ));

      .feather-icon {
        font-weight: 900
      }
    } // close

    &-brand {
      @include display(block);
      @include height(30);

			img {
        @include display(block);
        @include width(auto);
			}
    } // brand

    &-title {
      @include height(120);
      @include flex(flex-start, center);
      @include padding((left: 20));

      @include text-style((
        size: 16,
        weight: 500
      ), white);
    } // title

    &-subtitle {
      @include flex(flex-start, center);
      @include margin((
        top: 40,
        bottom: 23
      ));
      @include padding((
        left: 14
      ));
      @include position(relative);

      @include text-style((
        size: 14,
        height: 14,
        transform: uppercase,
        weight: bold
      ));

			&:after {
				content: "";
        @include display(block);
        @include height(14);
        @include margin((
          left: 15
        ));
        @include grow(true);
			}
    } // subtitle

    &-content {
      @include padding((
        left: 15,
        right: 15,
      ))
    } // content
  } // category
} // layout

.theme {
  $layoutCategory: '.layout\\\:category';

  @each $color in $themes {
    &\:#{$color} {
      #{$layoutCategory} {
        &-close {
          border-color: color($color);
        }
        &-title,
        &-subtitle::after {
          @include background($color);
        }
        &-close,
        &-subtitle {
          @include text-color($color);
        }
      }
    }
  }
}
