.checkout {
	&\:plan {
		@include position(relative);
		@include radius(4);
		border: rem(2) solid $light-blue;
		@include margin((
      top: 20,
      bottom: 40
    ));
		@include height(123, min);

		@include flex(flex-start, stretch);

		&-description {
      @include width(space);
			@include grow(true);
			@include padding((
        top: 15
      ));
		}

    &-row {
      @include flex(center);
    } // row

		&-text {
			@include background(cyan);
			@include width(45, flex);
			@include flex(center, center);

			span {
				@include display(block);
				@include text-style((
          size: 16,
          weight: 700,
        ), white);
				-webkit-text-orientation: initial;
				text-orientation: mixed;
				-webkit-writing-mode: vertical-rl;
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;

				@include transform(rotate(180deg));
			} // -> p
		} // -> text

		&-apps {
      @include flex(center, center);
      @include wrap(true);
      @include margin((top: 7, bottom: 10));
      @include padding(horizontal, 15);

			p {
        @include width(space);

        @include text-style((
          size: 9,
          align: center
        ), blue);
			} // -> p

			img {
        @include size(23);
        @include margin((
          top: 5,
          left: 3,
          right: 3,
          bottom: 0
        ));
			} // -> img
		} // -> apps

		&-data {
      @include width(130, flex);

			p {
        @include text-style((
          size: 30,
          weight: 900,
          align: center
        ), blue);

				small {
          @include display(block);
          @include margin((top: -4));
          @include text-style((
            size: 10,
            weight: 400
          ))

				} // -> small
			} // -> p

			&:after {
				content: attr(data-text);
        @include position(absolute, (
          bottom: -16,
          left: 0,
          right: 0
        ));

        @include text-style((
          style: italic,
          weight: 100,
          size: 10,
          align: center
        ), blue);
			}
		} // -> data

		&-price {
      @include width(130, flex);
      @include flex(center, center);
      @include wrap(true);

			p {
        @include flex(flex-start, center);
        @include text-style((
          size: 14
        ), blue);

				span {
          @include text-style((
            size: 30,
            weight: 900,
            spacing: -1
          ));
				} // -> span

				sup {
          @include margin((
            top: -15
          ));

          @include text-style((
            size: 20,
            weight: 900,
            spacing: -1
          ));
				} // -> sup

				sub {
          @include margin((
            top: 19,
            left: -24
          ));
          @include text-style((
            size: 11
          ));
				} // -> sub
			} // -> p

			small {
        @include width(space);
        @include margin((top: -4));

        @include text-style((
          size: 10,
          align: center
        ), blue);
			}
		} // -> price
	} // -> plan
}
