//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Components/tip/discount
//

._tip {
	&\:footer {
		@include background(tip-primary);
		padding: rem(52) rem(40);
		position: relative;
		overflow: hidden;

		&:after {
			content: "";
			@include position(absolute, center);
			z-index: 1;
			@include size(209, 334);
			@include radius(10);
			border: rem(2) solid color(tip-secondary);
		} // after

		> * {
			@include width(234);
			@include margin(horizontal, auto);
			position: relative;
			z-index: 2;
		} // *

		&-content {
			@include flex(flex-start, stretch);
			@include margin((top: 7));
		} // content

		&-left,
		&-right {
			@include flex(center, center);
		} // left,right

		&-left {
			@include width(92, flex);
			@include margin((right: 18));
		} // left

		&-right {
			@include width(140, flex);

			img {
				@include block();
				@include width(114);
			}
		} // right

		&-title,
		&-info {
			@include text-style((
        align: center,
        weight: bold
      ), white);
		} // title|info

		&-title {
			@include text-style((
        size: 19,
        height: 27
      ));

			@include background(tip-primary);
		} // title

		&-info {
			@include flex();
			@include direction(column);

			@include text-style((
        size: 13,
        height: 40
      ));
		} // info

		&-brand {
			@include margin((bottom: -4));

			@include text-style((
        size: 15
      ));
		} // brand

		&-percent {
			@include position(relative);
			@include margin((bottom: -6));

			@include text-style((
        size: 60,
        line-height: 64
      ));

			&:before {
				content: attr(data-before-text);
				@include position(absolute, (left: -18));

				@include text-style((
          size: 13,
          weight: 400
        ));
			}

			&:after {
				content: attr(data-after-text);
				@include position(absolute, (right: -16));

				@include text-style((
          size: 22,
          weight: 400
        ));
			}
		} // percent

		&-button {
			@include flex(center, center);
			@include height(50);
			@include width(204, flex);
			@include radius(4);
			@include margin((
        top: 7,
        left: auto,
        right: auto,
        bottom: 0
      ));
			@include background(dark-green);

			@include text-style((
        size: 20,
        weight: bold
      ), white);
		}
	} // footer
} // tip
