//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Skeletons/offer
//

.skeleton {
	&\:offer {
		@include height(screen);
		@include width(560);
		@include margin(horizontal, auto);

		&-item {
			@include background(grey-100);
			@include radius(4);

			&:nth-child(1) {
				$h: 463;
				$w: 570;
				$height: ($h * 100) / $w;
				// fix this
				@include height($height, vw);
				@include height(400, max);
			} // -> child(1)

			&:nth-child(2) {
				@include size(75);
				@include margin((
          top: -43,
          left: auto,
          right: 20
        ));
			} // -> child(2)

			&:nth-child(3) {
				@include size(60, 270);
				@include margin((
          top: 20,
          left: 20
        ));
			} // -> child(3)

			&:nth-child(4) {
				@include size(100, 165);
				@include margin((
          top: 20,
          left: 20,
          bottom: 25
        ));
			} // -> child(4)

			&:nth-child(5) {
				@include size(100, 300);
				@include margin((
          top: 20,
          left: 20,
        ));
			} // -> child(5)
		} // -> item
	} // -> offer
} // -> skeleton
