//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/search
//

.search {
  ._btn {
    @include margin((
      top: 20,
      left: auto,
      right: auto
    ))
  } // btn
} // search
