//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Components/tip
//
._tip {
  @include flex(space-between, center);
  @include position(relative);

  &\:contents {
    flex: 0 0 calc(100% - 110px);
    width: calc(100% - 110px);
    @include flex(space-between, center);
  } // contents

  &\:image {
    @include height(87);
    width: calc((100% / 3) - 3px);
    object-fit: cover;
  } // image

  &\:link {
    @include flex(center, flex-start);
    @include direction(column);
    @include background(tim-blue);
    @include size(134, 120);

    @include position(absolute, (
      top: 0,
      right: 0
    ));

    @include padding((
      top: 0,
      left: 19,
      right: 19,
      bottom: 0
    ));

    border: {
      top-left-radius: rem(6);
      bottom-left-radius: rem(6);
    }

    @include text-style((
      size: 14,
      align: left,
      weight: 700,
      height: 16
    ), white);

    small {
      color: #137cba;
    }

    span, small {
      @include text-style((
        size: 11,
        weight: 400
      ));
    }
  } // link


  &[layout="home"] {
    @include height(135);
    @include background(tim-blue-2);
  } // layout[home]
} // tip
