//
// Author: OSTON <ti@oston.io>
// Name: Pomodoro
// Description: Nuxt styles
// File: animations.scss
// Location: @/assets/sass/core
//

// vars
$black: #000;
$white: #fff;
$grey-100: #eeeeee;
$grey-200: #dedede;
$grey: #707070;
$grey-900: #333;
$green: #00ae15;

$colors: (
	transparent: transparent,
	white: $white,
	grey-100: $grey-100,
	grey-200: $grey-200,
	grey: $grey,
	grey-900: $grey-900,
	black: $black,
	green: $green
);

$buttons: (green white, dark-green white, white red, red white);
