.page {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
}
.page-1{
  background-color: tomato;
}
.page-2{
  background-color: limegreen;
}
.page-3{
  background-color: teal;
}
.page-4{
  background-color: purple;
}
