//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/Checkout
//

.checkout {
	&\:success {
		@include flex();
		@include direction(column);
		min-height: 100vh;
    overflow: hidden;

		&-header {
			@include height(141);
			@include flex(center, center);
		} // header

    &-brand {
      @include height(28);
    }

		&-title {
			@include text-style((
        size: 30,
        height: 40,
        weight: bold,
        align: center,
      ), dark-blue);
		} // title

		&-subtitle {
      @include margin((top: 24));
			@include text-style((
        size:22,
        height: 34,
        weight: 400,
        align: center,
      ), dark-blue);

			strong {
				@include text-style((
          weight: bold
        ));
			}
		} // subtitle

		&-footer {
			@include margin((top: 60));
			@include position(relative);
			@include grow(true);
			@include padding((
        top: 40,
        left: 40,
        right: 40,
        bottom: 30
      ));

			&-c6 {
				@include height(263);
				@include position(absolute, (
          top: -90,
          right: -57
        ), 2);
			} // img

			p {
				@include margin((bottom: 28));
				@include position(relative, 3);
				@include text-style((
          size: 16,
          shadow: rem(0) rem(0) rem(2) $blue,
          height: 26
        ), white);
			} // p

			&-bottom {
				@include flex(center, center);
				@include wrap(true);

				p {
					@include width(space);
					@include text-style((
            align: center
          ));

					a {
						@include text-style((
              weightL bold,
            ), white);
					} // a
				} // p

				img {
					&.c6 {
						@include height(30);
					}

					&.tim {
						@include height(18);
					}
				}
			} // bottom
		} // footer

		&-separator {
			@include size(20, 1);
			@include background(white);
			@include margin(horizontal, 10);
		} // separator
	} // success
} // checkout
