//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Components/menu
//

._menu {
  $self: &;
	$linkColor: #4bd0ff;
	$bgFooter: #137cba;

	@include height(76);
	@include background(white);
	@include flex(flex-start, center);
  @include padding(horizontal, 20);

	&\:brand {
		@include height(37);
		@include width(138, flex);
    @include flex(flex-start, center);
    @include margin((right: auto));

		img {
			@include block();
			@include width(auto);
		}
	} // brand

	&\:link {
		@include flex(center, center);
		@include size(76, 55);
		cursor: pointer;

    @include text-style((
      size: 35
    ), red)
	} // link

	&\:content {
		@include flex(flex-start, stretch);
		@include width(560);
		height: calc(100vh - 76px);
		@include background(white);
    @include position(fixed, (
      top: 76,
      left: 0,
      right: 0
    ));
		z-index: 100;
    @include margin((
      top: 0,
      left: auto,
      right: auto,
      bottom: 0
    ));

		&-link {
			@include size(55, auto);
			@include flex(flex-start, center);
      @include padding((
        left: 85,
        right: 30
      ));

      @include text-style((
        size: 18,
        text-decoration: none,
        weight: bold
      ));
			color: $linkColor;
			cursor: pointer;

			&:hover,
			&:focus {
				@include text-color(tim-blue-2);
			}
		} // link
	} // content

	&\:left {
    @include position(relative);
		@include background(tim-blue);
		@include width(78, flex);
		@include flex(center, flex-start);
    @include padding((top: 20));

    &:after {
      content: attr(data-version);
      @include position(absolute, (
        left: 0,
        right: 0,
        bottom: 9
      ));

      @include text-style((
        align: center,
        size: 10,
        weight: 400
      ), white 0.5);
    }

		span {
			@include display(block);
			transform: rotate(180deg);

      @include text-style((
        size: 25,
        transform: uppercase,
        weight: bold,
        orientation: initial,
        writing-mode: vertical-rl
      ), white)
		} // span
	} // left

	&\:right {
		@include grow(true);
		overflow: auto;
		@include scrollbar('vertical', 3, color(light-blue), color(green), color(grey-100), red);
	} // right

	&\:footer {
    @include padding((bottom: 40));
		background-color: $bgFooter;

		#{$self}\:content-link {
			@include text-color(white);

			&:hover {
				@include text-color(tim-blue-2);
			}
		} // menu
	} // footer

	&\:form {
    @include position(absolute, (
      top: 0,
      left: 0,
      right: 0
    ), 20);

		@include height(76);
		@include background(white);
		@include flex(flex-start, center);
    padding: 0 rem(20);

    input {
      @include height(76);
      @include grow(true);
      border: none;

      @include text-style((
        size: 20,
        font: 'Tim Sans',
      ), red);

      @include placeholder {
        @include text-style((
          size: 16,
          font: 'Tim Sans',
        ), red);
      }
    } // input

    a {
      @include size(76, 45);
      @include flex(center, center);
      @include text-style((
        size: 25
      ), red);
    } // a
	} // form

  &\:logout {
    @include position(fixed, (top: 0, left: 0, right: 0, bottom: 0), 4000);
    @include flex(center, center);
    @include background(black, .5);
    backdrop-filter: blur(5px);

    @include text-style((
      size: 20,
      weigth: 400,
    ), green);

    &:before {
      content: '';
      @include position(absolute, (top: 0, left: 0), 4);
      @include height(5);
      @include width(1920);
      @include background(green);

      @include animation(logout 3s);
    }
  } // logout
} // menu
