//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Resources/Skeletons/category
//
._skeleton {
	&\:category {
		&-article {
			@include flex(flex-start, stretch);
			@include wrap(true);
			@include width(346);
			@include height(192);
			@include margin((
          top: 23,
          left: auto,
          right: auto,
        ));
			@include radius(4);
			overflow: hidden;
			@include background(grey-100);
		} // article

		&-content {
			@include width(calc, percentage((346 - 112 - 6) / 346));
			@include flex(center, center);
			@include direction(column);
			@include padding((
          left: 20,
          right: 20
        ));

      > div {
        @include background(grey-200);

        &:nth-child(1) {
          @include size(40, 132);
        }

        &:nth-child(2) {
          @include size(20, 156);
          @include margin((top: 20))
        }
      }
		} // content

		&-figure {
			@include size(138, 112);
			@include margin((
          top: 6,
          left: 6,
        ));
      @include background(grey-200);
			@include radius(4);
		} // figure

		&-footer {
			@include flex(center, center);
			@include height(41);
			@include width(space);
			@include margin((top: 7));
      @include background(grey-200);
		} // footer
	} // -> category
} // -> skeleton
