//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/Offers
//

.error {
	&\:header {
		@include flex(center, center);
		@include position(relative);
		@include background(white);
		@include padding(horizontal, 20);
		@include margin((bottom: 50));
		@include height(98);
	} // header

	&\:brand {
		@include height(22);

		img {
			@include height(22);
			@include display(block);
		} // img
	} // brand

  &\:title {
    @include margin((
      bottom: 50
    ));

    @include text-style((
      size: 30,
      height: 40,
      weight: bold,
      align: center,
    ), dark-blue);
  } // title

  &\:text {
    @include margin((bottom: 15));

    @include text-style((
      size: 16,
      height: 20,
      align: center
    ), tim-blue);

    a {
      @include text-style((
        decoration: underline,
        weight: bold
      ), red)
    }
  } // text
} // checkout
