//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/Checkout
//

.checkout {
	@include padding((bottom: 60));

	// captcha
	._o8atP {
		@include position(absolute, (top: 0, left: 0), 0);
		@include size(0);

		opacity: 0;
		visibility: hidden;
		overflow: hidden;
	} // _o8atP

	._btn {
		@include size(60, 310);

		@include margin((
      left: auto,
      right: auto
    ));
	} // btn

  &\:text {
    &-loading {
      @include height(30);
      @include flex(center, center);
      @include margin((top: 20));
      @include text-style((
        size: 14,
        weight: bold,
      ), cyan);

      span {
        @include margin((right: 10));

        border: {
          top: rem(2) solid color(cyan);
          left: rem(2) solid transparent;
          right: rem(2) solid transparent;
        }
        @include circle(15);

        @include animation(rotate .5s infinite ease);
      }
    }
  }

	.form {
		&\:link {
			@extend %clicable;
			@include margin((
        top: 20,
        left: auto,
        right: auto
      ));
			@include background(white);
			@include height(30);
			@include flex(center, center);
			@include text-style((
        size: 14,
        weight: 700,
        decoration: underline
      ), cyan);
		} // link

		&\:group {
			@include position(relative);
			@include margin((top: 40));
			@include height(90);

			label {
				@include display(block);
				@include text-style((
          size: 15,
          align: center,
        ), cyan);
			} // label

			&-has-validating {
				@include position(relative);

				&:after {
					content: "";
					@include position(absolute, (
            top: 55,
            right: 10
          ));

					border: {
						top: rem(2) solid color(dark-blue);
						left: rem(2) solid transparent;
						right: rem(2) solid transparent;
					}
					@include size(12);
					@include radius(20);
					@include animation(rotate .5s infinite ease);
				}
			}
		} // group

		&\:control {
      p,
			input,
			select {
				border: none;
				border-bottom: rem(1) solid color(light-blue);
				@include display(block);
				@include padding(horizontal, 15);
				@include width(space);
				@include height(72);
				@include radius(0);
				@include margin((bottom: 5));
        @include background(white);

				@include text-style((
          size: 22,
          height: 72,
          align: center,
        ), light-blue);

				@include placeholder {
					@include text-style((
            size: 22,
            height: 24,
          ), light-blue);
				}

				&.disabled {
					cursor: default;
					pointer-events: none;
					touch-action: none;

					color: color(grey-200);
					border-color: color(grey-200);
				} // -> disabled
			} // input, select
		} // control
	} // form

	&\:row {
		@include flex(space-between, flex-end);

		> * {
			width: calc(50% - 15px);
		}
	} // row

	&\:birthday {
		@include flex(center, center);
		@include wrap(true);
		@include margin((top: 50));
		@include position(relative);

		&-label {
			@include display(block);
			@include width(space);

			@include text-style((
        size: 15,
        align: center,
      ), cyan);
		} // label

		&-slash {
			@include text-style((
        size: 22,
      ), light-blue);

			@include width(0);
			@include position(relative, 2);
		} // slash

		.form {
			&\:group {
				@include margin((top: 0));
				@include height(72);
				width: calc(100% / 3);
				flex: 0 0 calc(100% / 3);
				@include position(static);

				select {
					appearance: none;
					@include height(72);
					@include width(space);

					text-align: center;
					text-align-last: center;
				} // select
			} // group
		} // form
	} // birthday

	&\:terms {
		@include flex();
		@include margin((top: 38));

		p {
			@include margin((left: 20));
			@include text-style((height: 16));

			label {
				@include text-style((
          size: 14,
          height: 20
        ), cyan);

				&.small {
					@include text-style((
            size: 11,
            height: 11
          ), light-blue);
				} // -> small
			} // -> label

			a {
				@include margin((left: 3));
				@include text-style((
          size: 14,
          weight: bold
        ), cyan);

				&:hover,
				&:focus {
					@include text-style((
            decoration: underline
          ));
				}
			} // a
		} // p
	} // terms

	&\:checkbox {
		@include position(relative);
		@include flex(flex-start, flex-start);
		@include text-color(white);
		@include width(30, flex);

		input {
			@include position(absolute);
			@include size(0);
			opacity: 0;
			overflow: hidden;

			&:checked {
				+ span {
					&:after {
						transform: rotate(45deg) scale(0.8);
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		span {
			@include display(block);
			@include height(30);
			@include width(30, flex);
			@include radius(6);
			border: rem(1) solid $blue;
			@include position(relative);
			@include background(white);

			&:after {
				content: "";
				@include position(absolute, (
          left: 10,
          bottom: 8
        ));
				@include size(12, 7);

				border: {
					bottom: rem(3) solid color(cyan);
					right: rem(3) solid color(cyan);
				}
				@include transition(all 0.15s ease-in-out);
				transform: rotate(45deg) scale(1);
				opacity: 0;
				visibility: hidden;
			}
		}

		a {
			@include text-color(green);
		}
	} // checkbox

	.form {
		&\:step {
			&-1 {
				@include margin((top: 80));

				label {
					opacity: 0;
					visibility: hidden;
				}

				._btn {
					@include margin((top: 50));
				} // btn
			} // 1

			&-2 {
				@include margin((top: 50));

				._btn {
					@include margin((top: 35));
				} // btn
			} // 2

			&-3 {
				._btn {
					@include margin((top: 35));
				} // btn
			} // 3
		} // step
	} // form

	// errors css
	[data-is-showing-errors="true"] {
		input,
		select {
			border-bottom-color: color(danger);
		}
	}

	.formulate-input-errors {
		@include position(absolute, (top: 95));
		@include padding(0);
		list-style: none;

		li {
			@include position(relative);
			@include padding((left: 5));
			@include flex();
			@include text-style((
        size: 10,
        weight: 100
      ), danger);

			&:before {
				content: '-';
				@include display(block);
				@include margin((right: 5));
			}
		}
	} // vue formulate
} // checkout
