//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/Views/Offers
//
._collections {
	$self: &;

	@include padding((top: 25));

	&\:header {
		@include flex(flex-start, center);
		@include margin((bottom: 10));

		&::after {
			content: "";
			@include block();
			@include grow(true);
			@include height(10);
			@include background(black);
		}
	} // header

	&\:title {
		@include text-style((
      weight: 700,
      size: 14,
      transparent: uppercase
    ));
		@include margin((left: 15, right: 20));
	} // title

	&\:content {
		@include display(flex);
		@include width(screen);
		overflow: auto;
		@include scrollbar(horizontal, 0);
		@include padding((
      top: 0,
      left: 16,
      right: 16,
      bottom: 20
    ));
	} // content

	&\:item {
		@include block();
    @include position(relative);
		@include width(125, flex);
		@include height(265, min);
		@include box-shadow(rem(4) rem(4) rem(10) rgba($black,.16));
		@include margin((right: 15));
		@include padding((
      top: 6,
      left: 6,
      right: 6
    ));
		@include radius(4);
		overflow: hidden;
	} // item

	&\:figure {
		@include block();
		@include size(140, 113);
		@include radius(4);

		overflow: hidden;
		@include position(relative);

		img {
			@include block();
			@include size(140, 113);
			object-fit: cover;
		}
	} // figure

	&\:brand {
		@include flex(flex-end, center);
		@include circle(40);
		overflow: hidden;
		@include position(relative, 5);
		@include margin((top: -20, bottom: 10, left: auto, right: 0));

		img {
			@include block();
			@include circle(40);
			border: rem(1) solid transparent;
		}
	} // brand

	&\:description {
		@include height(35, min);
		@include text-style((
      size: 14,
      align: center,
      weight: 700,
      line-height: 15
    ), black);

		// clamp in line two
		@include line-clamp(2);
	} // description

	&\:company {
		@include block();
		@include height(35);
		@include margin((top: 8));

		@include text-style((
      size: 12,
      weight: 300,
      line-height: 15,
      align: center
    ), black);
		@include line-clamp(2);
	} // company

	&\:footer {
		@include flex(flex-start, center);
		@include height(42);
		@include margin(horizontal, -6);
		@include padding(horizontal, 8);
	} // footer

	&\:price {
		@include grow(true);
		@include flex(flex-end, center);
		@include width(auto);
		@include padding((right: 10));

		@include text-style((
      size: 10,
      align: left
    ), white);

		strong {
			@include margin((right: 5));

			@include text-style((
        size: 26,
        weight: 900
      ));
		}

		&-default {
			margin-right: auto;
			@include padding(ony, (right: 10));

			@include text-style((
        size: 15,
        align: left
      ), white);
		}
	} // price

	&\:shop {
		@include flex(center, center);
		@include height(32);
		@include width(32, flex);
		@include radius(4);
		@include background(white);
		@include text-color(black);
	} // shop

	&\:more {
		@include width(217, flex);
		@include height(264);

		@include flex(center, center);

		a {
			@include size(85);
			@include radius(4);
			@include flex(center, center);
      @include wrap(true);
			@include position(relative);
			@include box-shadow($box-shadow);

			@include text-style((
        size: 12,
        weight: 500,
        transform: uppercase
      ), white);
		}

		div {
      @include flex(center, center);
			@include height(32);
      @include width(32, flex);
      @include background(white);
      @include radius(4);
      @include padding((left: 2));
		}

    span {
      @include display(block);
      @include margin((top: -20));
    }

    .feather-icon {
      @include text-style((
        size: 20,
        weight: bold
      ));
    }
	} // more

	&\:spacer {
		@include width(1, flex);
		@include height(1);
	} // spacer

  &\:not-logged {
    @include position(absolute, (top: 6, left: 6));
    @include size(140, 113);
    @include flex(center, center);

    img {
      @include width(95);
    }
  }

	$_loop: 0;
	@each $color in $themes {
		$_loop: $_loop + 1;

		&:nth-of-type(6n + #{$_loop}) {
			#{$self} {
				&\:description,
				&\:company,
				&\:title,
				&\:shop,
        &\:more .feather-icon {
          @include color($color);
				}

				&\:header::after,
				&\:footer,
				&\:more a {
          @include background($color);
				}
			} // collections
		} // of type
	} // @each
} // collections
