.card {
	&\:offer {
		&-link {
			@include display(block);
			@include width(346);
			@include margin((
        left: auto,
        right: auto,
      ));
		}

		&-container {
      @include position(relative);
			@include flex(flex-start, stretch);
			@include wrap(true);
			@include width(346);
			@include height(192);
			@include margin((
        top: 23,
      ));
			@include radius(4);
			overflow: hidden;
			@include box-shadow($box-shadow);
		} // container

		&-content {
			@include width(calc, -120);
			@include flex(center, center);
			@include direction(column);
			@include padding((
        left: 20,
        right: 20
      ));
		} // content

		&-title {
			@include text-style((
        size: 16,
        height: 20,
        weight: 900,
        align: center
      ));
			@include line-clamp(2);
			@include height(40);
			@include width(164);
		} // title

		&-company {
			@include margin((
        top: 27
      ));

			@include text-style((
        size: 11,
        align: center
      ));
		} // company

		&-figure {
			@include size(138, 112);
			@include margin((
        top: 6,
        left: 6,
      ));
			overflow: hidden;
			@include radius(4);

			img {
				@include display(block);
				@include size(138, 112);
				object-fit: cover;
			}
		} // figure

		&-footer {
			@include flex(center, center);
			@include height(41);
			@include width(space);
			@include margin((top: 7));

			@include text-style((
        size: 30,
        height: 30,
        weight: bold
      ));
		} // footer
		&-logged {
			@include position(absolute, (
        top: 6,
        left: 6,
      ), 5);
      @include size(138, 112);
      @include flex(center, center);

			img {
        @include width(95);
			}
		} // logged
	} // offer
} // card

.theme {
	$class: '.card\\\:offer';

	@each $color in $themes {
		&\:#{$color} {
			#{$class} {
				&-title,
				&-company {
					@include text-color($color);
				}
				&-footer {
					@include text-color(white);
					@include background($color);
				}
			} //
		} // $color
	} // @each
} // theme
