//
// Author: André <andrelino.cl@gmail.com>
// Name: Jarbas
// File: index.scss
// Location: @/Views/Home
//

.home {
  @include flex(center, center);
  @include height(screen);
  @include width(screen);

  .button {
    @include display(inline-block);
    @include margin(horizontal, 10);
    @include padding(12, 15);
    @include radius(4);

    @include background(green);


    @include text-style((
      size: 16,
      height: 18,
      transform: uppercase
    ), white)

  } // buttons
}
